{% extends 'base.html' %}
{% block content %}

	<div class="post">
		<img src="static/images/post1_pict.jpg" alt=""></img>
		<div class="post_title">
			<div class="date"><p>DEC <span class="num">12</span></p></div>
			<div class="title-text">Заголовок поста, здесь написано что-то интересное<br>
			<span>Уменьшенный подзаголовок поста с его автором</span></div>	
			<div style="clear:both"></div>
		</div>
		<div class="post-text">Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст <a class="read-more" href="">Подробнее</a></div>
	</div>

	<div class="post">
		<img src="static/images/post_pict2.jpg" alt=""></img>
		<div class="post_title">
			<div class="date"><p>OCT <span class="num">22</span></p></div>
			<div class="title-text">Заголовок поста, здесь написано что-то интересное<br>
			<span>Уменьшенный подзаголовок поста с его автором</span></div>	
			<div style="clear:both"></div>
		</div>
		<div class="post-text">Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст </div>
	</div>
	
	<div class="post">
		<img src="static/images/post_pict3.png" alt=""></img>
		<div class="post_title">
			<div class="date"><p>SEP <span class="num">2</span></p></div>
			<div class="title-text">Заголовок поста, здесь написано что-то интересное<br>
			<span>Уменьшенный подзаголовок поста с его автором</span></div>	
			<div style="clear:both"></div>
		</div>
		<div class="post-text">Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст Текст текст </div>
	</div>

<div class="paginagion"></div>
{% endblock %}