{% extends 'base.html' %}
{% block content %}
<div class="slider">
				<div class="slider_content">
					<img src="static/images/delivery.png" alt="">
					<img src="static/images/under_delivery.png" alt="">
					<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praes</span>
					<a href="" class="slider_click_here">
						
						Click here!
					</a>
				</div>
			</div>
<div class="promo">
				<div class="promo_block">
					<div class="promo_title">
						<span class="blue">Company Careers</span>
						<img src="static/images/company_careers.jpg" alt="">
					</div>
					<div class="promo_text">
						<p>
							<span>
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
							</span>
						</p>
						<a href="" class="button">click here</a>
					</div>
				</div>
				<div class="promo_block">
					<div class="promo_title"><span class="red">Feautured Services</span>
						<img src="static/images/feautured_services.jpg" alt=""></div>
					<div class="promo_text">
						<p><span>
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
							</span>
						</p>
						<a href="" class="button">click here</a>
					</div>
				</div>
				<div class="promo_block">
					<div class="promo_title">
						<span class="green">Our Seminars</span>
						<img src="static/images/our_seminars.jpg" alt="">
					</div>
					<div class="promo_text">
						<p>
							<span>
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
								Praesent vestibulum Cum sociis natpenatibus et magnis dis partu
							</span>
						</p>
						<a href="" class="button">click here</a>
					</div>
				</div>
				<!-- <div class="promo_block">
					<div class="promo_title"><img src="" alt=""></div>
					<div class="promo_text"><span></span><a href="" class="button">click here</a></div>
				</div>
				<div class="promo_block">
					<div class="promo_title"><img src="" alt=""></div>
					<div class="promo_text"><span></span><a href="" class="button">click here</a></div>
				</div>
				<div class="promo_block">
					<div class="promo_title"><img src="" alt=""></div>
					<div class="promo_text"><span></span><a href="" class="button">click here</a></div>
				</div> -->
			</div>
<div class="main_content">
				<div class="daily">
					<h2><span class="first">Welcome</span> to Our Company!</h2>
					<p class="blue">Lorem ipsum dolor sit aectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.
					</p>
					<p class="text">
						Montes, nascetur ridiculus muulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra mnec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dus eget. elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat...
						 <!-- volutpat. Duis ac turpis. Integer rutrum ante eu lacus.

						Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper urna et felis.

						Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. -->
					</p>
					<a href="" class="view_all">learn</a>
				</div>
				<div class="news">
					<h2>News</h2>
					<div class="news_item">
						<div class="date">October 20, 2007</div>
						<p>
							<a href="/">Time Management Tools</a>
							Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.
						</p>
					</div>
					<div class="news_item">
						<div class="date">October 20, 2007</div>
						<p>
							<a href="/">Time Management Tools</a>
							Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.
						</p>
					</div>
					<a href="" class="view_all">view all news</a>
				</div>
			</div>
{% endblock %}